@font-face {
  font-family: "CustomFont";
  src: url("../public/Poppins/Poppins-Regular.ttf") format("truetype");
}

:root {
  --darkTheme: #1a1a1a;
  --textPrimary: #fff;
  --textSecondary: #000;
  font-family: "CustomFont", sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url(../public/nnnoise.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@-moz-document url-prefix() {
  .content {
    background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.85),
        rgba(0, 0, 0, 0.85)
      ),
      url(../public/nnnoise.svg);
  }
}
