.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--textPrimary);
}

.aboutSection {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.aboutTitle {
  color: #003049;
  align-self: flex-end;
}

.stats {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  color: var(--textSecondary);
  background-color: #fff;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 4rem;
}

spam > h1 {
  position: relative;
  top: 1rem;
  font-weight: 500;
}

spam > p {
  position: relative;
  bottom: 10px;
}
