.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats {
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  color: #fff;
  background: #003049;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

spam > h1 {
  position: relative;
  top: 1rem;
  font-weight: 500;
}

spam > p {
  position: relative;
  bottom: 10px;
}
