.services {
  height: 220px;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 3rem 2rem;
  background-color: #fff;
  border-radius: 20px;
  margin: 0.5rem 1rem;
  color: var(--textSecondary);
  justify-content: center;
}

.services img {
  border-radius: 50%;
}

.techs {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
